.DS_Store
.next
.vercel
.env.local
*.log
_site
node_modules
public/feeds
out
scripts/simplify
scripts/streams
scripts/netherlands
scripts/singapore
scripts/activities.json
scripts/netherlands.json
scripts/singapore.json
