---json
{
  "permalink": "feeds/main",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "@llun story",
    "subtitle": "Life, Ride and Code",
    "url": "https://www.llun.me/",
    "feedUrl": "https://www.llun.me/feeds/main",
    "icon": "https://www.llun.me/img/favicon-32x32.png",
    "author": {
      "name": "Maythee Anegboonlap",
      "email": "contact@llun.me"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <icon>{{ metadata.icon }}</icon>
  <link href="{{ metadata.feedUrl }}" type="application/atom+xml" rel="self"/>
  <link href="{{ metadata.url }}" type="text/html" rel="alternate"/>
  <rights>Copyright © 2021, Maythee Anegboonlap</rights>
  <updated>{{ collections.posts | rssLastUpdatedDate }}</updated>
  <id>{{ metadata.feedUrl }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for post in collections.posts | head(-5) %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}" type="text/html" rel="related"/>
    <published>{{ post.date | rssDate }}</published>
    <updated>{{ post.date | rssDate }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">
      <![CDATA[
        {{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | safe }}
        <p>
          <a href="mailto:comment@llun.me?subject=Common on post {{ absolutePostUrl }}">Send a comment</a>
        </p>
      ]]>
    </content>
  </entry>
  {%- endfor %}
</feed>