@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply font-sans bg-background text-foreground font-light;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  h4 {
    @apply text-base;
  }

  h5 {
    @apply text-sm;
  }

  h6 {
    @apply text-xs;
  }

  p {
    @apply text-base;
  }

  a {
    @apply underline;
    color: var(--link);
  }

  a:visited {
    color: var(--link-visited);
  }

  pre,
  code {
    @apply font-mono text-sm leading-normal;
  }

  code {
    @apply font-semibold break-words my-auto dark:bg-muted dark:text-muted-foreground;
  }

  pre {
    @apply bg-black text-white text-left whitespace-pre break-normal hyphens-none p-4 my-2 overflow-x-auto dark:bg-muted dark:text-muted-foreground;
  }
}
