.overlay {
  position: fixed;
  background-color: var(--background);
  inset: 0;
  z-index: 10;
  overflow: hidden;
}

.modal {
  position: absolute;
  inset: 0;
  background: var(--background);
  object-fit: contain;
  height: 100vh;
}

.open {
  overflow: hidden;
}

.content {
  position: absolute;
  inset: 0;
}

.closeButton {
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.image {
  padding: 0;
  margin: auto;
  border: unset;
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.video {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
}

.video video {
  display: block;
  margin: auto;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  flex: 1;
}