.overlay {
  position: fixed;
  background-color: var(--background);
  inset: 0;
  z-index: 10;
  overflow: hidden;
}

.modal {
  position: absolute;
  inset: 0;
  background: var(--background);
  object-fit: contain;
  height: 100vh;
}

.open {
  overflow: hidden;
}

.content {
  position: absolute;
  inset: 0;
}

.closeButton {
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.image {
  padding: 0;
  margin: auto;
  border: unset;
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}