.overlay {
  position: fixed;
  background-color: var(--background);
  inset: 0;
  z-index: 10;
  overflow: hidden;
}

.modal {
  position: absolute;
  inset: 0;
  background: var(--background);
  display: grid;
  grid-template-columns: auto 300px;
}

.open {
  overflow: hidden;
}

.control {
  padding: 0.25rem;
  display: flex;
  flex-direction: row-reverse;
}

.closeButton {
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

.media {
  object-fit: contain;
  height: 100vh;
}

.image {
  padding: 0;
  margin: auto;
  border: unset;
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}