.title {
  display: flex;
  flex-direction: row;
}

.icon {
  height: 1.5rem;
  border: none;
  display: inline;
  padding: 0;
  margin: 0 0.5rem 0 0;
  vertical-align: text-bottom;
}

.navigation {
  font-family: sans-serif;
  flex: 1;
}

.navigation .item {
  margin-right: 0.25rem;
}

.navigation .item:last-child {
  margin-right: 0;
}