.cycling .navigation {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.cycling .navigation select {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  margin-right: 1rem;
}


.map {
  height: 600px;
}

@media (max-width: 1024px) {
  .map {
    height: 400px;
  }
}

@media (max-width: 320px) {
  .map {
    height: 250px;
  }
}
