---
layout: layouts/home.njk
tags:
  - nav
navtitle: Jouneys
---

<h1>Journeys</h1>

<ol>
  <li>
    <strong>
      <a href="/journeys/lasik">Lasik</a>
    </strong>
    my lasik journey, from before doing it to after it and problems with it that I have to deal with
  </li>
</ol>