---
layout: layouts/home.njk
tags:
  - nav
navtitle: Jouneys
---

<h1>Lasik</h1>

<p>
  Around March 2021, a few of my friends did Lasik and made me consider doing it. I have myopia or
  short sight with my left eye a bit better than my right eye, and I wear glasses since elementary
  school. Glasses are fine when working or not playing any sports, but when going outside or playing
  any sports, my face gets oily easily, and it gets loose most of the time. When I start cycling,
  this problem is getting worse, especially after finished for few hours, and my body still produces
  a lot of sweat.
</p>
<p>
  I decided to do it after research for a few clinics. The Lasik cost is not too high and comparable
  to a clinic in Bangkok. The procedure is fast, and not many problems after, except dry eyes and halo,
  which I already have those issues.
</p>
<p>
  In a few days after, I decided. I opened a selected clinic website, filled the form online, got the
  scheduled call, checked eyes to see what operation is suitable to do, and then scheduled the surgery
  date and then check up after. This journey is to record all the cost, checkup, medications and problems
  I got after and before.
</p>

<div>
  <h2>Contents</h2>
  <ul>
    <li><a href="#timeline">Timeline</a></li>
    <li><a href="#cost">Cost</a></li>
    <li><a href="#medications">Medications</a></li>
    <li><a href="#problems">Problems</a></li>
  </ul>
</div>

<div id="timeline">
  <h2>Timeline</h2>

  <h4></h4>
  <ul>
    <li><strong>Around beginning of March</strong>, decided to do Lasik. Booked an appointment on 15 March 2021</li>
    <li id="15032021">
      <strong>15 March 2021</strong>, The first consultation, right eye is good no issue, left eye has dry eye issue, and the doctor
      did not like it. I got prescribed eye drop and booked an appointment for surgery.
    </li>
    <li id="26032021">
      <p>
        <strong>26 March 2021</strong>, Surgery day! I took a leave, a bit nervous before the operation. After talked while checking eyes
        before the surgery, I decided to call a friend to help pick me up and send me home 🙏.
      </p>
      <p>
        Surgery started on my right eye. My eyelid got to tape up, and then the doctor put some tools under around my eye
        before getting under the suction machine, which will press on my right eye and suck the air out, pressing the suction
        ring to lock my eye, making it not moving.
      </p>
      <p>
        After the suction machine moves up, the other machine moves in with light for me to focus, more eye drop gets put
        into my eye, and after this, the doctor will open the front of the eye and open it up. Everything is blurry immediately,
        including the light dot that follows the opening flap, and then some burning smell follow for few seconds, and the flap gets close,
        followed by another drop. The suction ring got removed, and then the same thing happens to the left eye.
      </p>
      <p>
        The most painful in the process is when the suction machine press on your eye, it felt like something is pressing around your
        eyeball, but after that with eye drop that makes the eye numb, I don't feel anything except the scary of knife that you see
        open something in front of your eye.
      </p>
      <p>
        When the doctor closes the flap and puts something across the eye, the picture you see gets sharper and sharper immediately, like
        wearing a contact lens.
      </p>
        After the whole process finished and I get up, I can see everything across the room immediately with some white foggy around the picture.
        I have an irritating feeling in my eyes like a grain of sand in the eyelid but no pain.
      </p>
      <p>
        The doctor then let me lie down in a dark room for a few minutes before the final checkup and then go home. I have to put the medication
        eye drop every hour in the first few hours until I sleep on the first day. Each one has to put after each other for five minutes too, but
        this helps the irritation feel better on the first day.
      </p>
    </li>
    <li id="27032021">
      <p>
        <strong>27 March 2021</strong>, the First day after Lasik, I got an appointment to check my eye. Everything is almost normal for both eyes
        except some dark red area in my eyeball and irritation feeling, which go away after eye drop. The vision is clear, and after talking to
        the doctor, I can go out like normal and do my usual routine (shopping, eating, etc.)
      </p>
    </li>
    <li id="28032021">
      <p>
        <strong>28 March 2021</strong>, the Second day after Lasik, my right eye is getting better. Looking into the screen is less blurry, but the
        halo effect is still problematic especially white text on the black background like subtitle (Somehow, grey background is fine, and on iPhone
        screen, I rarely see this effect even on the first day)
      </p>
      <p>
        The right eye is still feel something when waking up, but it's gone away after the first medicine drop. (My right eye has shorter sight compare
        to the left, so I guess more things removed from that side and need more time to heal?)
      </p>
    </li>
    <li id="30032021">
      <p>
        <strong>30 March 2021</strong>, four days after Lasik, Eyelids were getting sticky, and I have to use eyelid cleaner to clean them. I
        was waiting for the day that I can wash my face. The right eye has an issue with blurry text again. After a very clear vision yesterday.
      </p>
    </li>
    <li id="31032021">
      <p>
        <strong>31 March 2021</strong>, Second eye checkup. Nothing special except the right eye still gets blur image sometimes and not as good
        as the left eye. I asked the doctor about the dry eye issue on my right eye and got the gel to help. And finally, the doctor allowed me to
        wash my face!
      </p>
    </li>
    <li id="02042021">
      <p>
        <strong>2 April 2021</strong>, First outdoor ride (TMCR) after Lasik! Got transparent glasses to protect the eye from the wind and dust
        (sigh, still need glasses when cycling.) My right eye doesn't want me to go out, but it is not that bad with the glasses. Still have to stop
        at Changi village to put an eye drop.
      </p>
    </li>
    <li id="09042021">
      <p>
        <strong>9 April 2021</strong>, Two weeks after Lasik, my right eye is not improved much, still getting dry every night but now I put eye drop
        while I wake up in the mid night too, so in the morning it's not too bad. The left eye has an dry eye issue too but this is after I fall from
        bike on Tuesday. Got glasses protected and doesn't have anything hit my eye. It just noticable after that day that my left eye start getting
        irritating now and then. From today, I can stop drop any medicine (it's almost gone anyway.) so, probably easier life but still need putting
        eye drop.
      </p>
    </li>
    <li id="16042021">
      <p>
        <strong>16 April 2021</strong>, Three weeks after Lasik, both eyes seems getting better than last week. Most of the red colors on white eyes
        are gone. Left eye gets dry more than first two weeks but still not too bad. Right eye is still dry after wake up but the image gets better
        after drop faster than first time that I have this problem. After drop, right eye goes back to ok level almost immediately.
      </p>
    </li>
    <li id="17042021">
      <p>
        <strong>17 April 2021</strong>, First round island ride after Lasik, the ride took 4 hours normally. I have to prepare a lot, wake up very
        early than before and put a lot of eye drops to make my right eye recovery after sleep (it recovers very fast anyway these days.) Eat as
        normal and put a clear goggles all the time (well, at least I don't need to put contact lens before ride this time)
      </p>
      <p>
        I think the goggles help with dry eyes issue a lot, or my dry eyes issue maybe not because the damage on the eyes but the wind makes the
        tear evapolate to fast, on the ride, I don't have dry eyes issue at all but still put eye drops in the mid ride break. Still don't think
        I can do this on the weekdays, maybe after next eye checkup if everything looks fine, probably reconsider one day a week on weekdays.
      </p>
    </li>
  </ul>
</div>

<div id="cost">
  <h2>Cost</h2>

  <p>
    I do Lasik at <a href="https://www.asiapacificeyecentre.com.sg" target="_blank" rel="noopener">Asia Pacific Eye Clinic</a> as of now 4 April 2021, the cost of pre-operative lasik
    check up is still S$5.00 (+GST.) Below are total cost summary with detail.
  </p>

  <h4><a href="#15032021">First eyes check up</a></h4>
  <ul>
    <li>Lasik pre-operative test, S$5.00</li>
    <li>Systane hydration (PF) eye drop, S$22.00</li>
    <li>Pred forte eye drop, S$10.50</li>
    <li>GST, S$2.63</li>
  </ul>
  <p>Subtotal: S$40.13</p>

  <h4><a href="#26032021">Lasik surgery day</a></h4>
  <ul>
    <li>iLASIK (Wavefront customized) 2 (S$1688 per eye), S$3376.00</li>
    <li>Refraction &amp; medication, S$91.00</li>
    <li>GST, S$242.69</li>
  </ul>
  <p>Subtotal: S$3709.69</p>

  <h4><a href="#31032021">Second check up after surgery</a></h4>
  <ul>
    <li>Refrection 1, S$18.00</li>
    <li>Consultation 2, S$65.00</li>
    <li>Vidisic 10 GM Gel, S$14.30</li>
    <li>GST, S$6.81</li>
  </ul>
  <p>Subtotal: S$104.11</p>

  <p><strong>Total Lasik cost + Consultation:</strong> S$3853.93</p>

  <h4>Eye drops</h4>
  <ul>
    <li>Refresh Optive fusion UD - Guardian x1: $29.35</li>
    <li>Refresh Optive fusion UD - Watsons x2: $63.2</li>
    <li>Refresh Optive fusion UD - Fairprice Changi Jewel x2: $46.0</li>
    <li>Refresh Plus - Watsons Bugis x2: 35.7</li>
  </ul>
  <p>Subtotal: $174.25</p>

  <p><strong>Total:</strong> S$4028.18</p>
</div>

<div id="medications">
  <h2>Medications</h2>

  <p>List of eye drops and medications I got and buy myself after, including usage</p>

  <ul>
    <li>Pred forte x2, left eye - 2 weeks, right eye - 1 week</li>
    <li>Santen Cravit 5ml, both eyes - 1 week</li>
    <li>Vidisic 10GM Gel (Dry eye gel)</li>
    <li>
      <a href="https://www.watsons.com.sg/systane-ultra-unit-dose-30x0.7ml/p/BP_63561?gclid=CjwKCAjwpKCDBhBPEiwAFgBzjwE1YZ4i2LfnePMstEpHySkaSTs5Izpk_JfLXYdAeO00bYevBFldJhoCkLAQAvD_BwE">Systane hydration (PF) eye drop x 1</a>
    </li>
    <li>
      <a href="https://www.guardian.com.sg/optive-fusion-04ml-30s/p/615720?gclid=CjwKCAjwpKCDBhBPEiwAFgBzj7B2c1glv9ziGli7jM5no2meVknI7Rekp96MF4DIBjGc-Ur5xujnlBoChF0QAvD_BwE" target="_blank" rel="noopener">Optive Fusion UD eye drop x2</a>
    </li>
  </ul>
</div>

<div id="problems">
  <h2>Problem after Lasik</h2>

  <ul>
    <li>
      <strong>Halo</strong>, while I have this issue before Lasik, after Lasik the halo radius is a lot bigger and more distracting. It's getting better
      and as of now (5 March 2021), it's not so distracting compare to the first few days
    </li>
    <li>
      <strong>Dry eye</strong>, I used to have dry eye with irritation in both eyes before. Normally it will be just irritating in the eye or feel like
      some thing is in the eyelid like grain of sand. After Lasik, my left eye that has this problem before is normal and haven't have this issue since
      but my right eye gets dry a lot easily and sometime the image is blurry to the point that I cannot read or work. It's getting better too but this
      makes me stop riding in the very early morning because I need time for my right eye to recover from dry eye after I put my first eye drop.
    </li>
    <li>
      <strong>Blurry image</strong>, this is happen to my right eye only. The root cause seems to come from dry eye and it is not fully recover yet.
      Hopefully, after a month this will get better.
    </li>
  </ul>
</div>
