<!doctype html>
<html lang="{{ lang or 'en' }}">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="{{ metadata.title }}{% if title %} | {{ title }}{% endif %}">
  <meta property="og:description" content="{{ description or metadata.description }}">
  {% if image %}<meta property="og:image" content="{{ metadata.url + page.url + image | url }}">{% endif %}
  <meta property="og:url" content="{{ metadata.url + page.url }}">
  <meta property="og:type" content="website" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@llun" />
  <title>
    {{metadata.title}}{% if title %} | {{ title }}{% endif %}
  </title>
  <meta name="description" content="{{ description or metadata.description }}">
  <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
  <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
  <link rel="shortcut icon" href="/img/favicon.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="alternate" type="application/atom+xml" title="@llun story" href="/feed.xml" />

  {{ content | safe }}
</html>