<!doctype html>
<html lang="{{ lang or 'en' }}">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="{{ metadata.title }}{% if title %} | {{ title }}{% endif %}">
  <meta property="og:description" content="{{ description or metadata.description }}">
  {% if image %}<meta property="og:image" content="{{ metadata.url + page.url + image | url }}">{% endif %}
  <meta property="og:url" content="{{ metadata.url + page.url }}">
  <meta property="og:type" content="website" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@llun" />
  <title>
    {{metadata.title}}{% if title %} | {{ title }}{% endif %}
  </title>
  <meta name="description" content="{{ description or metadata.description }}">
  <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
  <link rel="icon" href="/img/favicon.ico">
  <link rel="manifest" href="/site.webmanifest">
  <header>
    <h1 class="home">
      <a href="{{ '/' | url }}">{{ metadata.title }}</a>
    </h1>
    <nav>
      <ul>
        <li>
          <a href="/">
            <img class="icon" src="/img/icons/all.png" alt="navigation icon for every posts">
            <span class="text">All</span>
          </a>
        </li>
        <li>
          <a href="/tags/ride">
            <img class="icon" src="/img/icons/ride.png" alt="navigation icon for riding post">
            <span class="text">Ride</span>
          </a>
        </li>
        <li>
          <a href="/tags/dev">
            <img class="icon" src="/img/icons/dev.png" alt="navigation icon for dev post">
            <span class="text">Dev</span>
          </a>
        </li>
        <li>
          <a href="mailto:contact@llun.me">
            <img class="icon" src="/img/icons/contact.png" alt="navigation icon for contact me">
            <span class="text">Contact</span>
          </a>
        </li>
        <li>
          <a href="https://github.com/llun" target="_blank">
            <img class="icon" src="/img/icons/github.png" alt="navigation icon for github">
            <span class="text">Github</span>
          </a>
        </li>
      </ul>
    </nav>
  </header>

  <main{% if templateclass %} class="{{ templateClass }}" {% endif %}>
    {{ content | safe }}
  </main>

  </html>