---
layout: layouts/base.njk
templateClass: tmpl-home
---
<header>
  <h1 class="home">
    <a href="{{ '/' | url }}">{{ metadata.title }}</a>
  </h1>
  <nav>
    <ul>
      <li>
        <a href="/journeys" title="index">
          <img class="icon" src="/img/icons/all.png" alt="navigation icon for journeys, story that doesn't move with time">
          <span class="text">Journeys</span>
        </a>
      </li>
      <li>
        <a href="/tags/ride" title="ride">
          <img class="icon" src="/img/icons/ride.png" alt="navigation icon for riding post">
          <span class="text">Ride</span>
        </a>
      </li>
      <li>
        <a href="/tags/dev" title="dev">
          <img class="icon" src="/img/icons/dev.png" alt="navigation icon for dev post">
          <span class="text">Dev</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/llun" target="_blank" title="github">
          <img class="icon" src="/img/icons/github.png" alt="navigation icon for github">
          <span class="text">Github</span>
        </a>
      </li>
      <li>
        <a href="https://webring.wonderful.software#llun.me" title="วงแหวนเว็บ">
          <img
            class="icon"
            alt="วงแหวนเว็บ"
            src="https://webring.wonderful.software/webring.black.svg"
          />
          <span class="text">Webring</span>
        </a>
      </li>
    </ul>
  </nav>
</header>

<main{% if templateclass %} class="{{ templateClass }}" {% endif %}>
  {{ content | safe }}
</main>