---
layout: layouts/base.njk
templateClass: tmpl-post
---
<main{% if templateclass %} class="{{ templateClass }}" {% endif %}>
  <p>
    <a href="javascript:history.back()">← Back</a>
  </p>

  <div class="title">
    <h1>{{ title }}</h1>
  </div>

  <div class="content">
    {{ content | safe }}
  </div>

  <p>
    <a href="mailto:comment@llun.me?subject=Common on post {{ page.url | url }}">Send a comment</a>
  </p>

  <p>
    <a href="javascript:history.back()">← Back</a>
  </p>
</main>