name: Deploy

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: '24'

      - name: Install and build
        run: |
          corepack enable
          yarn install
          yarn export

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-1

      - name: Upload non-cache to S3
        run: |
          aws s3 sync out/ s3://${{ secrets.AWS_S3_BUCKET }}/ \
            --acl public-read \
            --follow-symlinks \
            --exclude '*.jpg' \
            --exclude '*.jpeg' \
            --exclude '*.png' \
            --exclude '*.ico' \
            --exclude 'feeds/main' \
            --exclude 'feeds/atom.xml' \
            --exclude '.well-known/webfinger'

      - name: Upload cache to S3
        run: |
          aws s3 sync out/ s3://${{ secrets.AWS_S3_BUCKET }}/ \
            --acl public-read \
            --cache-control max-age=604800 \
            --follow-symlinks \
            --exclude '*' \
            --include '*.jpg' \
            --include '*.jpeg' \
            --include '*.png' \
            --include '*.ico'

      - name: Upload feeds to S3
        run: |
          aws s3 sync out/ s3://${{ secrets.AWS_S3_BUCKET }}/ \
            --acl public-read \
            --follow-symlinks \
            --exclude '*' \
            --include 'feeds/main' \
            --include 'feeds/atom.xml' \
            --content-type 'application/atom+xml'

      - name: Invalidate CloudFront
        run: |
          aws cloudfront create-invalidation \
            --distribution-id ${{ secrets.AWS_DISTRIBUTION_ID }} \
            --paths "/*"
        env:
          AWS_REGION: us-east-1
